<%=your_name%> is <%=your_age%> your <%=sum%> is <%=<,>,=%> <%=your_age%> .
<form action="name_age  " method "post">
		<input type = "sum" name = ">">
		<input type = "sum" name = "<">
		<input type = "sum" name = "=">
</form>